{% extends 'layout.html' %}
{% block content %}
	<section class="section article">
		<div class="container">
			<h3>{{ post.title.title() }}</h3>

			<small>Author: <i><a href="{{ url_for('users.profile', username=post.author.name) }}">{% if post.author.name == current_user.name %}You{% else %}{{ post.author.name }}{% endif %}</a></i></small>
			<br>
			<small>Published: <i><a href="#">{{ post.date_posted.strftime('%B %d, %Y') }}</a></i></small>

			<div class="margin-vertical-3">
				<!-- allow updates if user is author -->
				{% if post.user_id == current_user.id %}
					<button style="padding: 0 10px; font-size: 1.0rem; height: 3.0rem; margin-right: 0.7rem;" class="button" onclick="window.location.href='{{ url_for('posts.update_article', post_id=post.id ) }}'">Update Post</a>
					<button style="padding: 0 10px; font-size: 1.0rem; height: 3.0rem; margin-right: 0.7rem;" type="button" class="button negative" onclick="confirmation()">Delete Post</button>
					<br>
				{% endif %}
			</div>

			<!-- confirmation dialogue function -->
			<script type = "text/javascript">
				function confirmation() {
					returnval = confirm('Are you sure you want to delete this post?');

					if (returnval == true) {
						window.location.replace("{{ url_for('posts.delete_article', post_id=post.id) }}");
						return true;
					}
					return false;
				}
			</script>

			<!-- content of the post -->
			<p><pre>{{ post.content }}</pre></p>

		</div>
	</section>
{% endblock content %}