{% extends 'layout.html' %}
{% block content %}
	<section class="section new_article">
		<div class="container">
			<!-- blank action means submit to current page -->
			<form action="" method="POST">
				<!-- set the CSRF Token -->
				{{ form.hidden_tag() }}

				<!-- form heading -->
				<h3>{{ title }}</h3>

				<fieldset {% if form.title.errors %}class="input-error"{% endif %}>
					<!-- article title label -->
					{{ form.title.label() }}

					<!-- title input field -->
					{{ form.title() }}

					<!-- title validators -->
					{% if form.title.errors %}
						{% for error in form.title.errors %}
							<p>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</fieldset>

				<fieldset {% if form.content.errors %}class="input-error"{% endif %}>
					<!-- article content field -->
					{{ form.content.label() }}

					<!-- article content input box -->
					{{ form.content( style="height: 50vh" ) }}

					<!-- article content errors -->
					{% if form.content.errors %}
						{% for error in form.content.errors %}
							<p>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</fieldset>

				<div class="margin-vertical-4">
					<!-- submit button -->
					{{ form.submit( class="button-primary" ) }}
				</div>
			</form>
		</div>
	</section>
{% endblock content %}