{% extends 'layout.html' %}
{% block content %}
	<section class="section">
		<div class="container" style="margin-top: 3rem;">
			<div class="row">

				<!-- main posts section -->
				<div class="two-thirds column">
					<h3>Welcome to our Home Page</h3>
					<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>

					<!-- file: home.html -->
					{% for post in posts %}
						<div class="box">
							<h4>{{ post.title }}</h4>
							<small>Author: <i><a href="{{ url_for('profile', user_id=post.user_id ) }}">{{ post.author.name }}</a></i> on <i><a href="#">{{ post.date_posted.strftime('%B %d, %Y') }}</a></i></small>
							<hr>
							<p>{{ post.content }}</p>
							<br>
							<a href="{{ url_for('article', post_id=post.id) }}">Read More</a>
						</div>
					{% endfor %}							
				</div>

				<!-- banner for mood -->
				<div class="one-third column">
					<img src="{{ url_for('static', filename='images/home_banner.jpg')}}" style="width:100%">
				</div>
			</div>
		</div>		
	</section> 
{% endblock content %}