{% extends 'layout.html' %}
{% block content %}

	<section class="section login">
		<div class="container">
			<div class="one-half column">
				<h3>{{ title }}</h3>
				<form action="{{ url_for('users.login') }}" method="POST">
					<!-- set the CSRF token -->
					{{ form.hidden_tag() }}

					<fieldset {% if form.email.errors %}class="input-error"{% endif %}>
						<!-- email field label -->
						{{ form.email.label() }}

						<!-- email field input -->
						{{ form.email() }}

						<!-- handle errors -->
						{% if form.email.errors %}
							{% for error in form.email.errors %}
								<p>{{ error }}</p>
							{% endfor %}
						{% else %}
							<p>Enter your Email address registered with us</p>
						{% endif %}
					</fieldset>


					<fieldset {% if form.password.errors %}class="input-error"{% endif %}>
						<!-- password field label -->
						{{ form.password.label() }}

						<!-- email field input -->
						{{ form.password() }}

						<!-- handle errors -->
						{% if form.password.errors %}
							{% for error in form.password.errors %}
								<p>{{ error }}</p>
							{% endfor %}
						{% else %}
							<p>Enter the password for your account</p>
						{% endif %}
					</fieldset>

					<fieldset>
						<!-- remember me checkbox -->
						{{ form.remember() }}
						{{ form.remember.label() }}
					</fieldset>

					<!-- login button -->
					<div class="margin-vertical-4">
						{{ form.submit(class='button-primary') }}
					</div>
				</form>

				<!-- login button -->
				<p>Forgot Password?  <a href="{{ url_for('users.recover_account')}}">Recover Account</a></p>

			</div>
		</div>
	</section>

{% endblock content %}