{% extends 'layout.html' %} 
{% block content %} 

	<section class="section profile">
		<div class="container">
			<div class="one-third column user_details">
				<div class="box profile_pic">
					<img src="{{ image_file }}" style="width:100%">	
				</div>
				<div>
					<h5>{{ current_user.name.title() }}</h5>
					<small>{{ current_user.email }}</small>
					<br>
					<small>4 Posts</small>
				</div>
			</div>

			<div class="two-thirds column user_posts">
				{% for post in posts %}
					<div class="box">
						<h4>{{ post.get('title') }}</h4>
						<small>Author: <i><a href="{{ url_for('profile') }}">{{ post.get('author')}}</a></i> on <i><a href="#">{{ post.get('date')}}</a></i></small>
						<hr>
						<p>{{ post.get('content') }}</p>
						<br>
						<a href="{{ url_for('article') }}">Read More</a>
					</div>
				{% endfor %}
			</div>

		</div>
	</section>

{% endblock content %} 