{% extends 'layout.html' %} 
{% block content %} 

	<section class="section profile">
		<div class="container">
			<!-- encoding type required for file uploads -->
			<form action="{{ url_for('users.profile_settings') }}" method="POST" enctype="multipart/form-data">
				<div class="one-third column user_details">
				    <!-- add the CSRF token -->
					{{ form.hidden_tag() }}

				    <!-- title of form -->
				    <legend>{{ title }}</legend>

				    <!-- profile pixture and update button -->
				    <div class="box profile_pic">
				    	<img src="{{ image_file }}" style="width:100%">	
				    </div>
				</div>

				<div class="two-thirds column user_posts" style="margin-top: 7rem">
					<!-- name field label -->
					{{ form.name.label() }}

					<!-- handle errors -->
					{% if form.name.errors %}
						<div class='message negative' style="padding: 1rem;">
							{% for error in form.name.errors %}
								<p>{{ error }}</p>
							{% endfor %}
						</div>					
					{% endif %}

					<!-- name field input -->
					{{ form.name(class='u-full-width') }}

					<!-- email field label -->
					{{ form.email.label() }}

					<!-- handle errors -->
					{% if form.email.errors %}
						<div class='message negative' style="padding: 1rem;">
							{% for error in form.email.errors %}
								<p>{{ error }}</p>
							{% endfor %}
						</div>					
					{% endif %}

					<!-- email field input -->
					{{ form.email(class='u-full-width')}}

					<!-- image file label -->
			    	{{ form.image_file.label() }}

			    	<!-- image file validations -->
			    	{% if form.image_file.errors %}
			    		<div class='message negative' style="padding: 1rem;">
				    		{% for error in form.image_file.errors %}
				    			<p>{{ error }}</p>
				    		{% endfor %}
						</div>
			    	{% endif %}

			    	<!-- image file selection button -->
			    	{{ form.image_file() }}

					<br><br>
					{{ form.submit(class='button-primary') }}
				</div>
			</div>
		</form>
	</section>

{% endblock content %} 