{% extends 'layout.html' %}
{% block content %}

	<section class="section profile">
		<div class="container">
			<!-- encoding type required for file uploads -->
			<form action="{{ url_for('users.profile_settings') }}" method="POST" enctype="multipart/form-data">
				<div class="one-third column user_details">
				    <!-- add the CSRF token -->
					{{ form.hidden_tag() }}

				    <!-- profile pixture and update button -->
				    <div class="profile_pic margin-vertical-4">
				    	<img src="{{ image_file }}" style="width:100%">
				    </div>
				</div>

				<div class="two-thirds column user_posts">
				    <!-- title of form -->
				    <h3 style="margin-top: 1.4rem;">{{ title }}</h3>

					<fieldset {% if form.name.errors %}class="input-error"{% endif %}>
						<!-- name field label -->
						{{ form.name.label() }}

						<!-- name field input -->
						{{ form.name() }}

						<!-- handle errors -->
						{% if form.name.errors %}
							{% for error in form.name.errors %}
								<p>{{ error }}</p>
							{% endfor %}
						{% else %}
							<p>Update your User name</p>
						{% endif %}
					</fieldset>

					<fieldset {% if form.email.errors %}class="input-error"{% endif %}>
						<!-- email field label -->
						{{ form.email.label() }}

						<!-- email field input -->
						{{ form.email()}}

						<!-- handle errors -->
						{% if form.email.errors %}
							{% for error in form.email.errors %}
								<p>{{ error }}</p>
							{% endfor %}
						{% else %}
							<p>Update your Email Address</p>
						{% endif %}
					</fieldset>

					<fieldset {% if form.image_file.errors %}class="input-error"{% endif %}>
						<!-- image file label -->
				    	{{ form.image_file.label() }}

				    	<!-- image file selection button -->
				    	{{ form.image_file() }}

				    	<!-- image file validations -->
				    	{% if form.image_file.errors %}
				    		{% for error in form.image_file.errors %}
				    			<p>{{ error }}</p>
				    		{% endfor %}
				    	{% else %}
				    		<p>Choose a profile picture for your account</p>
				    	{% endif %}
					</fieldset>

					<!-- submit button -->
					<div class="margin-vertical-4">
						{{ form.submit(class='button-primary') }}
					</div>
				</div>
			</div>
		</form>
	</section>

{% endblock content %}