{% extends 'layout.html' %} 
{% block content %} 

	<section class="section profile">
		<div class="container">
			<div class="one-third column user_details">
				<div class="box profile_pic">
					<img src="{{ image_file }}" style="width:100%">	
				</div>
				<div>
					<h5>{{ user.name }}</h5>
					<small>{{ user.email }}</small>
					<br>
					<!-- TODO: change according to context -->
					<small>4 Posts</small>
				</div>
			</div>

			<div class="two-thirds column user_posts">
				{% for post in posts %}
					<div class="box">
						<h4>{{ post.title }}</h4>
						<small>Author: <i><a href="{{ url_for('profile', user_id=post.author.id) }}">{% if post.author == current_user %}You{% else %}{{ post.author.name }}{% endif %}</a></i> on <i><a href="#">{{ post.date_posted.strftime('%B %d, %Y') }}</a></i></small>
						<hr>
						<p>{{ post.content }}</p>
						<br>
						<a href="{{ url_for('article', post_id=post.id) }}">Read More</a>
					</div>
				{% endfor %}
			</div>

		</div>
	</section>

{% endblock content %} 