{% extends 'layout.html' %} 
{% block content %} 

	<section class="section login">
		<div class="container">
			<div class="one-half column">
				<h3>{{ title }}</h3>
				<div class="message info">
					<p>Please enter the new Password for you Account</p>
				</div>
				<br>
				<form action="" method="POST">
					<!-- set the CSRF token -->
					{{ form.hidden_tag() }}

					<!-- password field label -->
					{{ form.password.label() }}

					<!-- handle errors -->
					{% if form.password.errors %}
						<div class='message negative' style="padding: 1rem;">
							{% for error in form.password.errors %}
								<p>{{ error }}</p>
							{% endfor %}
						</div>					
					{% endif %}

					<!-- password field input -->
					{{ form.password(class='u-full-width') }}

					<br>

					<!-- confirm password field label -->
					{{ form.confirm_password.label() }}

					<!-- handle errors -->
					{% if form.confirm_password.errors %}
						<div class='message negative' style="padding: 1rem;">
							{% for error in form.confirm_password.errors %}
								<p>{{ error }}</p>
							{% endfor %}
						</div>					
					{% endif %}

					<!-- password field input -->
					{{ form.confirm_password(class='u-full-width') }}

					<br>

					<!-- submit button -->
					{{ form.submit(class='button-primary') }}
				</form>						
			</div>
		</div>
	</section>

{% endblock content %} 