{% extends 'layout.html' %}
{% block content %}

	<section class="section login">
		<div class="container">
			<div class="one-half column">
				<h3>{{ title }}</h3>
				<div class="message info">
					<p>Please enter the new Password for you Account</p>
				</div>
				<br>
				<form action="" method="POST">
					<!-- set the CSRF token -->
					{{ form.hidden_tag() }}

					<fieldset {% if form.password.errors %}class="input-error"{% endif %}>
						<!-- password field label -->
						{{ form.password.label() }}

						<!-- password field input -->
						{{ form.password() }}

						<!-- handle errors -->
						{% if form.password.errors %}
							{% for error in form.password.errors %}
								<p>{{ error }}</p>
							{% endfor %}
						{% else %}
							<p>Enter a new password for your account</p>
						{% endif %}
					</fieldset>

					<fieldset {% if form.confirm_password.errors %}class="input-error"{% endif %}>
						<!-- confirm password field label -->
						{{ form.confirm_password.label() }}

						<!-- password field input -->
						{{ form.confirm_password(class='u-full-width') }}

						<!-- handle errors -->
						{% if form.confirm_password.errors %}
							{% for error in form.confirm_password.errors %}
								<p>{{ error }}</p>
							{% endfor %}
						{% else %}
							<p>Re-enter the password to ensure there are no mistakes</p>
						{% endif %}
					</fieldset>

					<div class="margin-vertical-4">
						<!-- submit button -->
						{{ form.submit(class='button-primary') }}
					</div>
				</form>
			</div>
		</div>
	</section>

{% endblock content %}