/* .box h4 {
	margin-bottom: 0rem;
}
 */
.footer footer {
	margin-top: 4rem;
	border-top: solid 1px #bbb;
	text-align: center;
	margin: 2rem 0rem;
}

/* profile page styling */
.profile .user_details {
	text-align: left;
	/* margin-right: 2rem; */
}

.profile .user_details h5 {
	margin-bottom: 0rem;
}

.profile .profile_pic {
	padding: 0px;
	overflow: hidden;
}

.profile .profile_pic img {
	margin-bottom: 0rem;
}

/* article page styling */
/* .article h3 {
	margin-bottom: 0.5rem;
}
 */
.article p {
	text-align: justify;
}