<!-- file: layout.html -->
<!DOCTYPE html>
 <html>
 <head>
 	<!-- page title -->
 	{% if title %}
 		<title>Flask Blog - {{ title }}</title>
 	{% else %}
 		<title>Flask Blog</title>
 	{% endif %}

 	<!-- general stuff -->
 	<meta charset="utf-8">

 	<!-- stylesheets -->
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}"> 
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton-extended.css')}}">
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
 </head>
 <body>
 	<section class="section u-sticky navigation">
 		<div class="container">
 			<nav>
 				<a {% if request.path == '/home' %} class="active" {% endif %} href="{{ url_for('home') }}">Home</a>
 				<a {% if request.path == '/about' %} class="active" {% endif %} href=" {{ url_for('about') }}">About</a>
 				<div class="u-pull-right">
	 				<a {% if request.path == '/login' %} class="active" {% endif %} href=" {{ url_for('login') }}">Login</a>
	 				<a {% if request.path == '/register' %} class="active" {% endif %} href=" {{ url_for('register') }} ">Register</a>				
 				</div>
 				<div class="u-cf"></div>
 			</nav>
 		</div>
 	</section>
 	<!-- display flashed messages here -->
 	{% with messages = get_flashed_messages( with_categories=True ) %}
 		{% if messages %}
 			{% for category, message in messages %}
 				<div class="section flashed_messages">
 					<div class="container">
 						<div class="message {{category}}">
 							<p>{{ message }}</p>
 						</div>
 					</div>
 				</div>
			{% endfor %}
 		{% endif %}
 	{% endwith %}

 	<!-- content from templates will be inserted here -->
 	{% block content %}{% endblock content %}

 	<!-- footer section -->
 	<section class="section footer">
 		<div class="container">
 	 		<hr>
	 		<footer class="u-full-width">
	 			<small>&copy Copyright 2019 - Muhammad Moeen</small>
	 		</footer>		
 		</div>
 	</section>
 </body>
 </html> 
