{% extends 'layout.html' %} 
{% block content %} 

	<section class="section login">
		<div class="container">
			<div class="one-half column">
				<h3>Login</h3>
				<form action="login" method="post">
					<label for="email">Email</label>
					<input class="u-full-width" type="email" name="email" required="required" placeholder="john.smith@email.com">

					<label for="password">Password</label>
					<input class="u-full-width" type="password" name="password" placeholder="Password" required="required" minlength="8">

					<br>
					<input class="button-primary" type="submit" value="Register">
				</form>						
			</div>
		</div>
	</section>

{% endblock content %} 