{% extends 'layout.html' %} 
{% block content %} 

	<section class="section login">
		<div class="container">
			<div class="one-half column">
				<h3>Login</h3>
				<form action="login" method="POST">
					<!-- set the CSRF token -->
					{{ form.hidden_tag() }}

					<!-- email field -->
					{{ form.email.label() }}
					{{ form.email(class='u-full-width') }}

					<!-- password field -->
					{{ form.password.label() }}
					{{ form.password(class='u-full-width') }}

					<br>
					<!-- login button -->
					{{ form.submit(class='button-primary') }}

					<!-- remember me checkbox -->
					<div class="u-pull-right">
						<div style="disply:'inline-block';">
							{{ form.remember.label() }}
							{{ form.remember() }}
						</div>
						</div>
					<div class="u-cf"></div>
				</form>						
			</div>
		</div>
	</section>

{% endblock content %} 