{% extends 'layout.html' %} 
{% block content %} 

	<section class="section registration">
		<div class="container">
			<div class="one-half column">
				<h3>Register</h3>
				<form action="register" method="POST">
					<!-- add the CSRF token -->
					{{ form.hidden_tag() }}

					<!-- name field -->
					{{ form.name.label() }}
					{{ form.name(class='u-full-width') }}

					<!-- email field -->
					{{ form.email.label() }}
					{{ form.email(class='u-full-width')}}

					<!-- password field -->
					{{ form.password.label() }}
					{{ form.password(class='u-full-width') }}

					<!-- confirm password field -->
					{{ form.confirm_password.label() }}
					{{ form.confirm_password(class='u-full-width') }}

					<br>

					<!-- submit button -->
					{{ form.submit(class='button-primary') }}

					<!-- login button -->
					<hr>
					<p>Already Have an Account?  <a href="{{ url_for('login')}}">Login</a></p>
				</form>						
			</div>
		</div>
	</section>

{% endblock content %} 